@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

@font-face {
    font-family: 'Pixelatus';
    src: url('/Layout_Funcional/Font/Pixelatus.ttf') format('truetype'); /* Substitua pelo caminho real e formato da sua fonte */
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body {
    background: #0b1230;
}

.bloco{
    align-items: center;
    display: flex;
    justify-content: start;
    flex-direction: column;   /*  Aqui ele distribui as div's de cima para baixo  */
    min-height: 100%;   /* altura */
    margin: 0;
    margin-top: 200px;
    padding: 0%;
    z-index: 80;
}


/* -------------------------
|         PARALLAX         |
------------------------- */
section {
    position: relative;
    width: 100%;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
section img {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0%;
    top: 0;
    left: 0;
    object-fit: cover;
    border: 0%;
}



/* -------------------------
|      LAYOUT CENTRAL      |
------------------------- */
.container{
    position: relative;
    width: 768px;                  /*  largura do container  */
    min-height: 480px;
    display: flex;
    background: #fdfdfd;
    border-radius: 10px;         /*  arredondamento de bordas  */
    overflow: hidden;             /*  como o conteúdo é mostrado na tela. No caso o que sair de .container será cortado  */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
}



/* -------------------------
|      PAGINA INICIAL      |
------------------------- */
.saudacao{
    position: relative;
    margin-top: 8%;
    margin-left: 35%;
    width: 400px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgb(0, 58, 24), #189114);
    border-radius: 150px 5px 150px 5px;
    text-align: center;
    color: #fdfdfd;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    overflow: hidden;
    z-index: 10;
    font-family: 'Mona-Sans-Regular';
}

h2{
    font-family: 'Pixelatus';
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.sessao{
    align-items: flex-start;
    margin-right: 1000px;
    margin-top: 0px;
    width: 180px;
    height: 44px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px 15px 15px 0px;
    font-size: 8px;
    cursor: pointer;
    background: #ec597e;
    border: #bb4160;
    color: #fdfdfd;
    z-index: 9;
}

.body-initial{
    margin: 0px;
    margin-top: 0px;
}

.sessao:active{
    opacity: 80%;
    transform: scale(99%)
}




/* -------------------------
|       FORMULÁRIOS        |
------------------------- */

h1{
    font-family: 'Micro 5', serif;
    font-size: 75px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}


p{
    font-family: 'Belanosima', sans-serif;
    font-size: 17px;
    font-weight: normal;  /* "peso"? */
    line-height: 30px;
    letter-spacing: 0.5px;
    padding-bottom: 5%;
}

#txt_inicial {
    margin-left: 40px;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#txt_logar {
    padding-bottom: 10%;
    text-align: center;

}

#txt_cdstr {
    margin-bottom: 0%;
    padding-bottom: 0%;
    text-align: center;

}

input{
    font-family: 'Belanosima', sans-serif;
    font-size: 15px;
    background: #c5c2c2;
    padding: 10px 15px;
    margin: 5px 35px;
    width: 80%;
    border-radius: 5px;
    border: none;
    outline: none;
}

button{
    color: #ffffff;  /* cor do letreiro */
    background: linear-gradient(to right, rgb(0, 58, 24), #189114); /* a diferença é que sem o sufixo "-color", eu tenho liberdade de usar pnj, jpg, gradientes.. */
    font-size: 10px;
    padding: 12px 55px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #c5c2c2;
    outline: none;    /* remove aquele "linha" que fica em links por exemplo, ou seja, remove bordas 'não solicitadas' */
    letter-spacing: 1px;
    text-transform: uppercase;  /* deixa as letras em maiúscula */
    cursor: pointer; /* quando o cursor clica, o objeto interage, e em button:active é declarada a ação */
}

button#explore,#associate {
    font-family: 'Belanosima', sans-serif;
    font-weight: normal;
}

button:active{
    transform: scale(0.90);  /* a escala do botão diminui em 0.90 */
}

#explore, #associate {
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 2px;
}


a {
    font-family: 'Belanosima', sans-serif;
    color: rgb(0, 58, 24);
    background: #ffffff;
    font-size: 10px;
    font-weight: normal;
    padding: 12px 55px;
    border-radius: 20px;
    border: 1px solid #c5c2c2;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

a:active{
    transform: scale(0.90);  /* a escala do botão diminui em 0.90 */
}

#direc_login {
    margin: 10%;
}

#direc_cadastro {
    margin: 10%;
}


/* -------------------------
|   EFEITO SOBREPOSIÇÕES   |
------------------------- */
.aba_direcionar{
    position: relative;
    width: 50%;
    min-height: 480px;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    flex-direction: row;
    background: linear-gradient(to right, rgb(0, 58, 24), #189114); /* #3d1977, #2b6adf */
    color: #fdfdfd;
    padding: 5% 5% 0 5%;
    text-align: center;
}

.aba_login {
    position: relative;
    width: 50%;
    height: 100%;
    min-height: 480px;
    overflow: hidden;
    z-index: 100;
    padding: 8% 5% 5% 5%;
    align-items: center;
}

.aba_cadastro {
    position: relative;
    width: 50%;
    height: 100%;
    min-height: 480px;
    overflow: hidden;
    z-index: 100;
    padding: 4% 5% 0% 5%;
    align-items: center;
}
form{
    margin-bottom: 0px;
    margin-top: 0px;
}
.notice {
    font-family: 'Belanosima', sans-serif;
    font-size: 15px;
    color: red;
    margin-top: 0%;
    margin-bottom: 0%;
}

.test{
    display: block;
    margin-left: 40px;
    height: 20px;
    font-weight: 100;
}